# --- OS自作プロジェクト用 .gitignore ---

# 1. ビルドで生成されるバイナリ・実行ファイル
# 自分で書いたソースコード以外は除外します
*.efi
*.EFI
*.o
*.bi
*.elf
.*.d
/*.bin
# 2. ディスクイメージファイル
# QEMU起動のたびに更新され、サイズも大きいため除外します
*.img
fat_disk

# 3. マウント用ディレクトリ
# 中身ではなく「場所」なので管理不要です
mnt/

# 4. Windows / WSL 特有の一時ファイル
# ネットワーク経由で持ってきた際などに付与されるメタデータです
*:Zone.Identifier

# 5. エディタの一時ファイル（必要に応じて）
.vscode/
.DS_Store
*.swp

*.data
*.txt
.*.un~

/html
/ipxe_root